body{
    font-family: 'Century Gothic',calibri,serif;
    font-size: 13px;
    margin: 0px;
    padding: 0px;
}

h1{
    font-size: 40px;
    font-weight: normal;
    text-align: center;
}

header{
    height: 100px;
}

footer{
    height: 80px;
    padding-top: 30px;
    text-align: center;
    background-color: #C5C5C5;
    border-top: 2px solid #AAA; 
}

nav{
    width: 100%;              /*on met nav sur toute la largeur*/
    background-color: #424558;
}
                            /*on fait un resert aussi*/
nav ul{
    margin: 0px;
    padding: 0px;
}
                            /* modifie les li de nav */
nav li{
    list-style-type: none;   /*pour retirer les puces sur la liste*/
    float: left;             /*pour les aligner sur une ligne*/   
}

nav a{
    display: inline-block;   /*pour mieux travailler sue les liens*/
    text-decoration: none;    /*pour enlever les traits de soulignement sur les liens*/
    padding: 20px 30px;
    color: #FFF;
    text-transform: uppercase;  /*met en majuscule*/
    font-size: 15px;
}
                        /*en html si un element possede des enfants flottants, la hauteur de cet elemnt html
                        va collapsé donc hauteur = 0 on doit modifier se comportement */
.table{
    display: table;      /*on rend sa hauteur au menu*/
    margin: 0 auto;      /*centrer les elements du menu*/
}
                            /*lorsquon passe la souris sur le menu on a un effet*/
                            /*en donnant 5px au bordure cella va deplacer le text de l'element menuet sa va jouer
                            sur la taille du menu il faut donc on va modifier le padding lorsqu'on survol*/
                            /*affecte les meme couleur au section*/
.menu-ind:hover, .presentation{
    border-top:5px solid #4C8;
    background-color: RGBa(64,200,130,0.15);
}
.menu-exp:hover, .parcours{
    border-top: 5px solid #f1dc4f;
    background-color: RGBa(241, 211, 79, 0.15);
}
.menu-hob:hover, .competences{
    border-top: 5px solid #0070bb;
    background-color: RGBa(000,112,192,0.15);
}
.menu-con:hover, .recommandation{
    border-top: 5px solid #e44d26;
    background-color: RGBa(228,77,38,0.15); 
}
                        /*on va changer 20 px du padding-top fixer plus haut par defaut en 15px car avec
                        la bordur 5px on aura 20px et le text ne decalera pas ainsi que le menu*/
nav li:hover a{
    padding: 15px 30px 20px 30px; 
}

section{
    width: 100%;
    padding-bottom: 0px;  /*espace entre le contenu et la section*/
    margin: 0px;           /*espace entre les section*/
}
/*centralise le contenu des section avec la class sec*/
.sec{
    margin: 0px 10%;       /* 0px en haut et bas et 10px a droit et gauche*/
}
/* on met les div a linterieur des section cote a cote et on dimensionne*/
.left{
    float: left;
    width: 30%;
}
.right{
    float: left;
    width: 70%;
}
/*partie competenc en div en 4 cright cleft sousleft et sousright*/
.cleft, .cright, .sousleft, .sousright{
    width: 50%;         /*50% de son element parent*/
    float: left;        
}
/*on a les element enfants qui sont float et les parents non flottant donc ils vont collapsé on resous sa en faisant*/
/*sur les parents pour evité qu'ils collapsent*/
.sec::after, .exp::after, .reco::after{
    content:"";
    display: table;
    clear: both;
}
.presentation{
    margin-top: 0px; 
}

/*on gere la responsivité du menu*/
@media screen and (max-width:780px){
    header{
        height: 50px;   /*nouvelle taille du menu*/
    }
    h1{
        font-size: 28px;
        margin: 20px 0px 0px 0px;
    }
    nav li a{
        font-size: 12px;
        padding: 10px;
    }
    nav li:hover a{
        padding: 5px 10px 10px 10px;   /* 5px en top car la nouvelle valeur est 10px la bordure en survole 5 + 5 si =10 */
    }
}